@import "../../../../styles//common";
@import "../../../../styles/variables";
@import "../../../../styles/mixin";


.modal-header-styling {
    padding: 1rem 1rem 0 1rem;

    .modal-title {
        font-size: 20px;
        font-weight: 500;
    }

    font-family: var(--fontRegular);
}

::ng-deep .order-modal {
    max-width: 800px;
}

.history-modal-body {
    background: white;
    overflow-y: auto;
    padding: 15px 2rem;
}

.modal-header {
    padding: 14px 45px 9px 25px;

    .close-icon {
        cursor: pointer;
        float: right;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 20px;
    }

    .order-details-cell {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        max-width: 530px;
        padding-top: 15px;

        div.left-side {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }

        .left-side {
            .orderID {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;

                span {
                    display: inherit;
                    font-weight: 700;
                    font-size: 16px;
                }

                margin-bottom: 5px;
            }
        }

        // table
        .order-head tbody tr td {
            font-style: normal;

            .modal-header {
                background: var(--colorSecondary);
                border-radius: 25px 25px 0px 0px;
                padding: 14px 45px 14px 25px;
            }

            font-size: 14px;
            line-height: 18px;
            padding: 2px 6px;
        }
    }
}

.product-box {
    height: 300px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    padding: 8px;
    border-radius: 5px;

    .item {
        padding: 7px;
        display: flex;
        border-bottom: 1px solid #d8d8d8;
        position: relative;
        border-top: none;

        .item-img {
          margin-right: 7px;
          width: 55px;
          height: 55px;

          img {
              width: 100%;
              height: 100%;
          }
      }

        .item-details {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;

            span {
                display: block;
            }
        }
    }
}

.modal-body {
    background: #fff;
    border-radius: 0px 0px 25px 25px;
    padding: 0;

    .order-body {
        display: flex;
        width: 100%;

        .order-details {
            padding: 14px 14px 23px 14px;
            width: 50%;

            .ship-address {
                text-transform: capitalize;
            }

            .label {
                width: 30%;
            }

            table tbody tr {
                &.bordered {
                    border-bottom: 1px solid #d8d8d8;

                    td {
                        padding-bottom: 20px;
                    }
                }

                &.padding-top {
                    td {
                        padding-top: 20px;
                    }
                }

                &.p_remove td {
                    padding-top: 0;
                }
            }

            table tbody tr td {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #4a4a4a;
                padding: 4px 0;

                &.value {
                    font-weight: normal;
                    text-align: left;
                    padding-left: 30px;

                    &.trackNumber {
                        color: #456386;
                        font-weight: bold;
                    }
                }
            }

            .ordered-by .value {
                word-break: break-all;
            }
        }

        .product-details {
            background: rgba(144, 142, 244, 0.06);
            box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.15);
            border-radius: 0px 0px 25px 0px;
            padding: 0 12px;
            width: 60%;

            .count {
                font-family: var(--fontRegular);
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #4a4a4a;
                margin: 19px 13px;
                text-align: right;
            }

            .item-details {
                width: 70%;

                .item-id {
                    font-weight: 400;
                    font-size: 10px;
                    text-align: end;
                    padding-right: 10px;
                    margin-top: -18px;
                }

                .item-quantity {
                    font-weight: 500;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
        }

        .track {
            overflow-y: visible;

            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                width: 4px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #e6e5e5;
            }
        }

        .track-details {
            background: rgba(144, 142, 244, 0.06);
            box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.15);
            border-radius: 0px 0px 25px 0px;
            padding: 0 12px;
            width: 60%;

            .count {
                font-family: var(--fontRegular);
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #4a4a4a;
                margin: 19px 13px;
                text-align: right;
            }

            .item-id {
                font-weight: 400;
                font-size: 10px;
                text-align: end;
                padding-right: 10px;
                margin-top: -18px;
            }

            .track-box {
                background: #FFFFFF;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                position: relative;
                margin-bottom: 8px;


                .item-quantity {
                    font-weight: 500;
                }

                .tracking-number {
                    margin-right: 115px;
                    a {
                        text-decoration: underline !important;
                        color:  unset !important;
                    }
                }

                td {
                    font-family: var(--fontRegular);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #4a4a4a;
                    width: 100px;

                    a {
                        text-decoration: none;

                        span {
                            color: #456386;
                        }
                    }

                    &.value {
                        padding-left: 1em;
                    }
                }

                &+.track-box {
                    margin-top: 4px;
                }

                .status {
                    font-family: var(--fontRegular);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: right;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    top: 10px;

                    svg {
                        margin-left: 10px;
                        transition: 0.4s;

                        &.move {
                            transform: rotate(90deg);
                        }
                    }

                    &.shipping {
                        color: #456386;
                    }

                    &.shipped {
                        color: #508244;
                    }

                    &.backorder {
                        color: #c30f0f;
                    }
                }

                &.show {
                    .product-box {
                        margin-top: 15px;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.trackingnumber {
    overflow-wrap: break-word;
    max-width: 150px;
    display: inherit;
}

.trackingnumberlabel {
    position: absolute !important;
}

.modal-content {
    border: 0;
}


.track-box {

    .track-header {
        background: rgba(144, 142, 244, 0.2);
        padding: 7px 11px;
        font-size: 14px;
        border-radius: 5px 5px 0px 0px;

    }

    .rotate-icon {
        transform: rotate(90deg);
    }

    .custom-icon-arrow {
        cursor: pointer;
        position: absolute;
        right: 28px;
        top: 15px;
    }

    .show-content {
        font-size: 13px;
        padding: 13px;
        max-height: 150px;
        overflow-x: auto;
        top: 70px;
        width: 100%;
        background: #fff;
        left: 0;
        display: none;

        span {
            display: none;
        }

        .item {
            pointer-events: none;
            padding: 7px;
            display: flex;
            border-bottom: 1px solid #d8d8d8;
            position: relative;
            border-top: none;

            .item-img {
                margin-right: 7px;
                width: 55px;
                height: 55px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .item-details {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                width: 65%;
                color: #555555;

                span {
                    display: block;
                }
            }
        }
    }

    .content {
        font-size: 14px;
        position: relative;
        padding: 13px;

        span {
            display: block;
        }
    }
}


@media (max-width: map_get($grid-breakpoints, md)) {
  .item-details .item-id {
      margin-top: 0px !important;
  }
}

@media (max-width: map_get($grid-breakpoints, sm)) {
  .order-details {
    width: unset !important;
  }
  .product-details {
    padding: 0px !important;
  }

  .item-img {
    width: 70px !important;
    height: 70px !important;
  }

  .track-details {
    padding: 0px !important;
    overflow: auto;
  }
  .track-header {
    display: inherit !important;
  }
}


