@import "../../../styles/responsive";
@import "../../../styles/mixin";

#forgot-password-wrapper{
    margin-top: 30px;
}
.section-Wrapper {
    position: relative;
    background-color: var(--colorWhite);
    height: 100%;
    border-radius: 10px;
    @include boxShadow();

    .section-body {
        height: 100%;
        background-color: var(--colorWhite);
        border-radius: 70px 0 10px 10px;
        margin: 50px;
        padding: 15px;
        h2 {
            color: var(--textSecondary);
            @include font(var(--fontBold), 600, 20px, 24px);
            margin-bottom: 40px;
        }

    }


}

@media (max-width: map_get($grid-breakpoints, md)) {

    .section-Wrapper {
        .section-body {
            margin: 0px;
        }
    }
}