<div class="main-container">
    <div id="forgot-password-wrapper">
        <div class="container">
            <div class="section-Wrapper">
                <app-intro-header [headerData]="'FORGOT_PASSWORD_HEADER_TEXT' | textDescription" [iconSize]="'4em'" [withBorder]="false" [icon]="'fak fa-set-password'">
                    <p class="h1">Forgot Password</p>
                </app-intro-header>
                <div class="section-body">
                    <form [formGroup]="formGroup">
                        <div class="col-lg-6 form-group">
                            <app-text-input [label]="'Email Address'"
                                [formControlName]="'email'" [isRequired]="true"
                                [placeholder]="'Enter your email address'">
                            </app-text-input>
                        </div>
                        <div class="col-lg-6 mt-4 form-group">
                            <button type="button" class="btn btn-link-black btn-round me-2" (click)="onBackToHistory()">Back</button>
                            <button type="button" class="btn btn-primary btn-round" (click)="onResetPassword()" [disabled]="!formGroup.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>