<!-- <section class="about-us">
  <h1>About Us</h1>
  <div class="content">
      <div class="left">
          <p>
              <strong>QPharmaRx.com</strong> designed and managed by QPharma® Inc. specifically for healthcare providers looking for a secure, easy to use platform to request pharmaceutical samples, co-pay cards and informational materials from multiple manufacturers in one online site.
          </p>
          <img src="https://qpharma-artifacts.s3.amazonaws.com/SIT/images/generic-images/Group+28026.png" alt="QPharmaRx" class="about-image">
      </div>
      <div class="right">
          <h2>QPharmaRx Benefits</h2>
          <ul>
              <li>Easy, intuitive and secure registration process.</li>
              <li>One site, one login to gain access to offers from multiple manufacturers.</li>
              <li>Extensive selection of offers including product samples, vouchers, coupons, co-pay cards, brochures, and promotional materials.</li>
              <li>Place your requests quickly and securely, or access on-demand virtual materials instantly.</li>
              <li>Track your requests in real-time.</li>
              <li>Sign up for automated requests and receive timely reminders when automated requests are available.</li>
              <li>Dedicated technical assistance and customer service.</li>
          </ul>
      </div>
  </div>
  <div class="visit-us">
      <p>Visit us at <a href="http://www.qpharmacorp.com">www.qpharmacorp.com</a></p>
  </div>
  <div class="highlight">
      <p>QPharmaRx.com - Revolutionizing the way Healthcare Professionals request and receive drug samples and information materials</p>
  </div>
  <div class="footer">
      <p>
          <strong>QPharma Inc.</strong> stands at the forefront of compliant technology solutions, providing an extensive 30+ history of excellence in supporting healthcare and life sciences, delivering a comprehensive suite of services tailored to the life sciences industry.
      </p>
      <p>
          <strong>QPharma Inc.</strong> offers innovative drug sampling services, efficient warehouse and fulfillment solutions, CRM, and integrated data management and analytics, all supported by QPharma specialized operational and customer support.
      </p>
  </div>
</section> -->


<section class="about-us container">
  <div class="ads-container">
    <img src="https://qprx-artifacts.s3.us-east-1.amazonaws.com/SIT/images/generic-images/ads-banner.png" />
    
  </div>
  <h1>About Us</h1>
  <div class="content">
      <div class="about-content">
          <p>
              <strong>QPharmaRx.com</strong> owned by QPharma, Inc is an easy secure way for US based healthcare professionals (HCPs) to request samples and coupons online.
          </p>
         
      </div>
      <div class="benefits-content">
        <div class="benefit-left"> 
                <img class="desktop-about-img about-image" src="https://qprx-artifacts.s3.amazonaws.com/SIT/images/generic-images/about-us-left.png" alt="QPharmaRx">
                <img class="mobile-about-img about-image" src="https://qprx-artifacts.s3.amazonaws.com/SIT/images/generic-images/about-us-left-mobile.png" alt="QPharmaRx">
        </div>
        <p class="visit-us for-mobile">Visit us at <a href="https://www.qpharmacorp.com" target="_blank" rel="noopener">www.qpharmacorp.com</a></p>
        <div class="benefit-right">
          <h2>QPharmaRx Benefits</h2>
          <ul>
              <li>Easy, intuitive and secure registration process.</li>
              <li>Multiple manufacturers on a single platform.</li>
              <li>Extensive selection of offers including product samples, vouchers, coupons, brochures, and print material.</li>
              <li>Place your requests quickly and securely, or access on-demand virtual materials instantly.</li>
              <li>Track your requests in real-time.</li>
              <li>Sign up for monthly reminder requests.</li>
              <li>Dedicated technical assistance and customer service.</li>
          </ul>
        </div>
      </div>
      <p class="visit-us for-desktop">Visit us at <a href="https://www.qpharmacorp.com" target="_blank" rel="noopener">www.qpharmacorp.com</a></p>
    <div class="highlight  for-desktop">
        <p>QPharmaRx.com - Revolutionizing the way healthcare professionals request and receive drug samples and information materials</p>
    </div>

    <div class="about-content second" >
        <p style="padding: 0px;"><strong>QPharma</strong> stands at the forefront of compliant technology solutions, providing an extensive 30+ history of excellence in supporting healthcare and life sciences, delivering a comprehensive suite of services tailored to the life sciences industry. </p>
        <p style="padding: 0px;"><strong>QPharma</strong> offers innovative drug sampling services, efficient warehouse and fulfillment solutions, CRM, and integrated data management and analytics, all supported by QPharma specialized operational and customer support.</p>
        <p style="padding: 0px;" class=" for-desktop">	For more information visit us at <a href="https://www.qpharmacorp.com" target="_blank" rel="noopener">QPharma, Inc</a></p>
    </div>

 

  </div>
  </section>   
