:root {
    --primaryColor: "";
    --secondaryColor: "";
    --textPrimary: "";
    --textSecondary: "";
    --background: "";
    --colorWhite:"#ffffff",
    --colorBlack:"#000000",
    --fontRegular: "Lato regular";
    --fontBold: "Lato bold";
    --headerBgDesktop: linear-gradient(268.37deg, #494D58 49.57%, #00B2FF 104.59%);
}

 