<!-- <section class="about-us">
  <h1>About Us</h1>
  <div class="content">
      <div class="left">
          <p>
              <strong>QPharmaRx.com</strong> designed and managed by QPharma® Inc. specifically for healthcare providers looking for a secure, easy to use platform to request pharmaceutical samples, co-pay cards and informational materials from multiple manufacturers in one online site.
          </p>
          <img src="https://qpharma-artifacts.s3.amazonaws.com/SIT/images/generic-images/Group+28026.png" alt="QPharmaRx" class="about-image">
      </div>
      <div class="right">
          <h2>QPharmaRx Benefits</h2>
          <ul>
              <li>Easy, intuitive and secure registration process.</li>
              <li>One site, one login to gain access to offers from multiple manufacturers.</li>
              <li>Extensive selection of offers including product samples, vouchers, coupons, co-pay cards, brochures, and promotional materials.</li>
              <li>Place your requests quickly and securely, or access on-demand virtual materials instantly.</li>
              <li>Track your requests in real-time.</li>
              <li>Sign up for automated requests and receive timely reminders when automated requests are available.</li>
              <li>Dedicated technical assistance and customer service.</li>
          </ul>
      </div>
  </div>
  <div class="visit-us">
      <p>Visit us at <a href="http://www.qpharmacorp.com">www.qpharmacorp.com</a></p>
  </div>
  <div class="highlight">
      <p>QPharmaRx.com - Revolutionizing the way Healthcare Professionals request and receive drug samples and information materials</p>
  </div>
  <div class="footer">
      <p>
          <strong>QPharma Inc.</strong> stands at the forefront of compliant technology solutions, providing an extensive 30+ history of excellence in supporting healthcare and life sciences, delivering a comprehensive suite of services tailored to the life sciences industry.
      </p>
      <p>
          <strong>QPharma Inc.</strong> offers innovative drug sampling services, efficient warehouse and fulfillment solutions, CRM, and integrated data management and analytics, all supported by QPharma specialized operational and customer support.
      </p>
  </div>
</section> -->


<section class="data-privacy container">  
  <div class="content">
      <div class="data-privacy-content">
          <p>
              At <strong>QPharma.com</strong> we are committed to protecting the privacy and security of your personal information. The downloadable documents outline how we collect, use, and safeguard your data.  For any questions or concerns regarding our data security and privacy practices, please contact us at <a href="mailto:info@qpharmacorp.com"><strong>info@qpharmacorp.com</strong></a> | <a href="tel:+18887427620" class="tel">(888) 742-7620</a>
          </p>

          <div class="safe-secure downloadable-box">
            <div class="inner-box">
                <h3>Safe&Secure</h3>
                <a href="#" target="_blank" rel="noopener" class="download-btn">Download</a>
                 <p class="visit-us">Visit us at <a href="https://www.qpharmacorp.com" target="_blank" rel="noopener">www.qpharmacorp.com</a></p>
             </div>    
          </div>
          <h2>Privacy Policy</h2>
          <div class="privacy-policy downloadable-box">
            <div class="inner-box">
                <h3>Privacy Policy</h3>
                <a href="#" target="_blank" rel="noopener" class="download-btn">Download</a>
                <p class="visit-us">Visit us at <a href="https://www.qpharmacorp.com" target="_blank" rel="noopener">www.qpharmacorp.com</a></p>
            </div>
        </div>

      </div>
      
  </div>
  </section>
 