@import "../../../../styles/responsive";
@import "../../../../styles/mixin";

.registration-card {
    &.box-shadow {
        @include boxShadow();
    }
    &.hcpTable-DesktopView {
        padding: 25px;
    }
    border-radius: 10px;
    margin-bottom: 30px;
    .card-footer {
        // padding: 0px 60px 60px;
        background-color: var(--colorWhite);
        border-radius: 10px;
        border: none;
    }
}
.section-Wrapper {
    position: relative;
  
    height: 100%;
    border-radius: 10px;
    .section-body {
        height: 100%;
        position: relative;
        border-radius: 70px 0 10px 10px;
        margin: 15px;
        h2 {
            color: var(--textSecondary);
            @include font(var(--fontBold), 600, 18px, 20px);
            margin-bottom: 15px;
        }
    }
}

h1 {
    @include font(var(--fontBold), 700, 20px, 24px);
}
.form-check {
    .form-check-label {
        @include font(var(--fontBold), 600, 16px, 20px);
        color: var(--textSecondary);
    }
}

.registration-section-heading {
    @include font(var(--fontBold), 600, 20px, 24px);
}

.HCPListLoader {
    color: var(--primaryColor);
}

.no-result-found {
    h4 {
        color: var(--colorGrayShade_1);
        @include font(var(--fontBold), 700, 18px, 28px);
    }
    p {
        color: var(--colorGrayShade_1);
        @include font(var(--fontBold), 600, 16px, 24px);
    }
    .btn {
        min-width: 155px;
    }
    .icon{
        opacity: 0.6;
    }
}

.captcha-social {
  display: inline-flex;

  .google-login {
    padding-left: 30px;
    padding-top: 25px;

    img {
      width: 40px;
      height: 40px;
    }
  }
  .apple-login {
    i {
      font-size: 40px;
      padding: 20px;
    }
  }
}

#hcpTable-MobileView {
    .card {
        background: var(--colorWhite);
        @include boxShadow();
        border-radius: 10px;
        margin-bottom: 30px;
        .card-header {
            padding: 15px;
            background-color: var(--tableStripOddBgColor);
            @include font(var(--fontBold), 700, 20px, 24px);
            align-items: center;
            letter-spacing: 0.15px;
        }
        .card-body {
            .label {
                @include font(var(--fontRegular), 400, 14px, 16px);
                color: var(--textSecondary);
            }
            .value {
                @include font(var(--fontBold), 600, 14px, 17px);
                color: var(--textPrimary);
            }
        }
    }
}

@media (max-width: map_get($grid-breakpoints,md)) {
    #intro-header {
        margin-bottom: 5px;
    }
    .registration-card {
        @include boxShadow();
        .card-footer {
            padding: 15px;
        }
    }

    .section-divider {
        width: 90%;
        border-bottom: 1px solid var(--formControlBottomBr);
        margin: auto;
    }
    .section-Wrapper {
        .section-body {
            margin: 0px;
            padding: 15px;
            h2 {
                font-size: 17px;
                margin-bottom: 22px;
            }
        }
    }
    .form-check {
        .form-check-label {
            font-size: 17px;
        }
    }
    .card-footer-button {
        @include boxShadow();
        padding: 15px;
        margin: 0 -15px;
        .btn {
            min-width: 100%;
        }
    }
}
.fa-loader:before {
    content: "\e004" !important;
    font-size: 2.5em;
}

::ng-deep .text-input-container {
    margin-bottom: 0px !important;
}
