@import "../../../../styles/responsive";
@import "../../../../styles/mixin";

.registration-card {
    &.box-shadow {
        @include boxShadow();
    }
    &.hcpTable-DesktopView {
        padding: 25px;
    }
    border-radius: 10px;
    margin-bottom: 30px;
    .card-footer {
        padding: 0px 60px 60px;
        background-color: var(--colorWhite);
        border-radius: 10px;
        border: none;
    }
}
.section-Wrapper {
    position: relative;
    background-color: var(--colorWhite);
    height: 100%;
    border-radius: 10px;
    .section-body {
        height: 100%;
        position: relative;
        background-color: var(--colorWhite);
        border-radius: 70px 0 10px 10px;
        padding-bottom: 10px;
        margin: 15px 35px;
        h2 {
            color: var(--textSecondary);
            @include font(var(--fontBold), 600, 20px, 24px);
            margin-bottom: 40px;
        }
    }


}

@media (max-width: map_get($grid-breakpoints,md)) {
    .registration-card {
        @include boxShadow();
        .card-footer {
            padding: 15px;
        }
    }
    .section-Wrapper {
        .section-body {
            margin: 0px;
            padding: 15px;
        }
    }
}
