<div id="set-password-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="registration-card box-shadow">
                    <app-intro-header  [headerData]="'CHANGE_PASSWORD_HEADER_TEXT'|textDescription" [withBorder]="false"
                        [icon]="'fak fa-set-password'" [iconSize]="'4em'">
                        <p class="h1">Change Password</p>
                    </app-intro-header>
                    <div class="section-Wrapper">
                        <div class="section-body">
                          <app-change-password [isLocationFrom]="'security'" [displayBackBtn]="false"></app-change-password>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>