<div class="modal-container">
  <header class="modal-header">
    <span>TDDD Information</span>
    <span type="button" aria-label="Close" class="close pull-right" (click)="closeModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </header>

  <div [formGroup]="formGroup">
    <div class="modal-body">
      <div class="body-title" [innerHTML]="'TDDD_PARAGRAPH_DESCRIPTION_TEXT' | textDescription"></div>

      <div *ngIf="tdddExemptDisable" class="alert alert-danger mt-2">
        <div class="icon tddd-icon hidden-xs">
          <i class="fa-sharp fa-solid fa-circle-info"></i>
        </div>
        <span [innerHTML]="'TDDD_EXEMPTION_INFORMATION_TEXT' | textDescription"></span>
      </div>
      <div class="row tddd-row">
        <div class="toggle-exempt" [ngClass]="{'tdddExemptDisable': tdddExemptDisable}">
          <app-toggle-button> [label]="'TDDD Exempt'" [control]="'tddExemption'"" [disableBtn]="tdddExemptDisable"
            [isRequired]="true">
          </app-toggle-button>
        </div>
      </div>

      <div *ngIf="!tddExempt" class="row tddelement-half">
        <app-text-input [label]="'TDDD #'" [placeholder]="'Enter TDDD Number'" [formControlName]="'tdddNumber'" [maxLength]="'10'"
          [isRequired]="true">
        </app-text-input>
      </div>

      <div *ngIf="tddExempt" class="row tddelement-half">
        <app-dropdown [multiSelect]="false" [header]="'Reason'" [placeholder]="'Select Exemption reason'"
          [formControlName]="'tdddExemptReason'" [dropDownOptions]="tdddExemptReasonList"
          [bindLabel]="'ReasonDescription'" [bindValue]="'ReasonCode'" [isRequired]="true">
        </app-dropdown>
      </div>


    </div>
    <div class="tddd-verification-conditions">
      <label class="col checkbox-wrapper"  > 
        <span [innerHTML]="'TDDD_TEAMS_CONDITION_TEXT' | textDescription"></span>

        <input type="checkbox" [formControlName]="'tdddVerification'" (change)="onTDDDVerification($event)">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-black-link btn-small ms-5 btn btn-round" (click)="closeModal()">Cancel</button>
    <button type="button" [disabled]="!formGroup.valid || !isCeritfyChecked" class="btn btn-primary btn-small btn-round"
      (click)="onSaveButton()">Save
    </button>

  </div>
</div>