<div class="order-history-container main-container">

    <form [formGroup]="filterForm!" (keydown.enter)="$event.preventDefault()">

        <div class="row px-2 intro-section">
            <div class="col-md-8 col-sm-12 mb-4">
                <button id='contentDesktop' type="button" class="btn btn-primary btn-round"
                    (click)="onRedirectToProductPage()">Back</button>
            </div>
            <div class="col-md-4 col-sm-12 mb-4">
              <div class="search-group col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type a Request Number"  [formControl]="searchOrderValue"/>
                    <span class="input-group-text" *ngIf="searchOrderValue?.value==''"><i
                            class="fa-light fa-magnifying-glass"></i></span>
                    <span class="input-group-text" (click)="onClearSearch()" *ngIf="searchOrderValue?.value!==''"><i
                            class="fa-light fa-xmark"></i></span>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <app-intro-header [headerData]="'ORDERHISTORY_DASHBOARD_HEADER_TEXT' | textDescription" [iconSize]="'3em'" [withBorder]="true" [isWrapper]="true"
            [icon]="''">
                <h1 class="text-title">Request History</h1>
            </app-intro-header>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-12">
                <div class="result-count mt-4 px-2">{{totalOrderCount}} Results</div>
            </div>

            <div class="col-md-8 col-sm-12" >
                <div class="show-order">
                    <div class="o_title">
                        Last:
                    </div>

                    <div class="group active" (click)="filterhistory('3')" [class.active]="filterForm?.value.month === '3'">
                        <label for="month_select" >3 Months </label>
                    </div>
                    <div class="group" (click)="filterhistory('6')" [class.active]="filterForm?.value.month === '6'">
                        <label for="month_select active" >6 Months</label>
                    </div>
                    <div class="group" (click)="filterhistory('12')" [class.active]="filterForm?.value.month === '12'">
                        <label for="month_select" >1 Year</label>
                    </div>
                    <input ngxDaterangepickerMd formControlName="selectDate"
                        class="custom-date datepicker-calendar-icon" [(ngModel)]="selectedDate" [minDate]="minDate" [maxDate]="maxDate"
                        (datesUpdated)="changeDate($event)" [linkedCalendars]="true" [placeholder]="'Custom date'" />

                    <!-- Custom Date -->
                </div>
            </div>
        </div>

        <div class="row row-item" *ngFor="let data of orderData; let i=index">
            <div class="col-md-9 col-sm-12 order-history-item"  [style.border-color]="orderClasses[data.statusCode]?.borderColor" >
                <div class="row">
                    <div class="col-sm-12 col-md-3  item-label order-item">
                        <span class="title">Request Number</span>
                        <span class="title-content">{{data?.orderId}}</span>
                    </div>
                    <div class="col-sm-12 col-md-3 item-label border-left ">
                        <div class="status-column">
                        <span class="title status">Status</span>
                        <span class="badge badge-primary" [style.background-color]="orderClasses[data.statusCode]?.badgeColor">
                            {{data?.status}}
                        </span>
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-3  item-label border-left">
                        <span class="title">Request Date</span>

                        <span class="title-content"> {{ data?.orderedOn ? (data?.orderedOn | date : 'MM/dd/YYYY') :'-'
                            }}</span>

                    </div>
                    <div class="col-sm-12 col-md-3  item-label border-left">
                        <span class="title">Items</span>
                        <span class="title-content">{{data?.quantity}}</span>
                    </div>
                </div>
            </div>
            <diV class="col-md-2 col-sm-12 button-container pt-3">
                <button class="action-button order_btn" (click)="moveToOrder(data,'viewOrder',orderClasses[data?.statusCode])">View Request</button>
                <button class="action-button mt-2"   [disabled]="data?.statusCode == '7301'" (click)="moveToOrder(data,'trackOrder',orderClasses[data?.statusCode])">Track Request</button>
                <!-- <button class="action-button mt-2 reorder_btn" (click)="reOrder()">REORDER</button> -->
            </diV>
        </div>

    </form>

    <div class="row no-records" *ngIf="!orderData?.length">
        <div class="col-sm-12 no-result-found">
            No history available!
        </div>
    </div>

    <div class="row mt-5" *ngIf="orderData?.length">
        <div class="col-md-6 col-lg-4 col-sm-12 mx-5 rows-filters">
            <label class="pagination-label">Rows per page</label><select id="pagination-dropdown" (change)='onOptionsSelected($event)'>
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="9">9</option>
            </select>
            <span class="page-selection px-4">{{startItemCount}}-{{itemsLabelPerPage}} of {{totalOrderCount}}</span>
        </div>
     

        <div class="col-md-4 col-lg-5 col-sm-12">
            <pagination [(ngModel)]="page" [boundaryLinks]="true" [totalItems]="totalOrderCount" [itemsPerPage]="itemsPerPage"
                [maxSize]="5"
                (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;">

            </pagination>
        </div>
    </div>



</div>