<div class="container-fluid full-width-image">
    <div class="auth-container">
        <div class="auth-box">
            <div class="container">
                <div class="card col-md-12 mt-3 mx-auto">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Main Wrapper
                        </h4>
                        <router-outlet></router-outlet>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>