<form [formGroup]="setPasswordformGroup" class="mt-4 change-password-container">
    <div class="row justify-content-lg-center align-items-lg-center align-items-xl-center">
        <div class="col-sm-5">
            <div class="row mt-4 mb-lg-4">
                <div class="col-sm-12 mb-4">
                    <div class="formGroup setPassword-form-control">
                        <app-text-input [errorMessage]="'Please enter a old password'" [label]="'Old/Temporary Password'"
                            [type]="showOldPassword ? 'text' : 'password'" [placeholder]="'Old/Temporary Password'"
                            [formControlName]="'oldPassword'" [isRequired]="true">
                            <div class="input-group-text">
                                <i alt="show" class="far fa-eye eye-show" (click)="showOldPassword = !showOldPassword"
                                    *ngIf="showOldPassword"></i>
                                <i alt="hide" class="far fa-eye-slash eye-hide"
                                    (click)="showOldPassword = !showOldPassword" *ngIf="!showOldPassword"></i>
                            </div>
                        </app-text-input>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="formGroup setPassword-form-control">
                        <app-text-input [errorMessage]="'Please enter a new password'" [label]="'New Password'"
                            [type]="showNewPassword ? 'text' : 'password'" [placeholder]="'New Password'"
                            [formControlName]="'password'" [isRequired]="true">
                            <div class="input-group-text">
                                <i alt="show" class="far fa-eye eye-show" (click)="showNewPassword = !showNewPassword"
                                    *ngIf="showNewPassword"></i>
                                <i alt="hide" class="far fa-eye-slash eye-hide"
                                    (click)="showNewPassword = !showNewPassword" *ngIf="!showNewPassword"></i>
                            </div>
                            <small class="text-danger" customError
                                *ngIf="setPasswordformGroup?.controls['password']?.hasError('NoPasswordMatch')">
                                Password does not match
                            </small>
                        </app-text-input>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="formGroup setPassword-form-control">
                        <app-text-input [errorMessage]="'Please enter a confirm password'" [label]="'Confirm Password'"
                            [type]="'password'" [placeholder]="'Re-enter New Password'"
                            [type]="showConfirmPassword ? 'text' : 'password'" [formControlName]="'confirmPassword'"
                            [isRequired]="true" onpaste="return false;" ondrop="return false;">
                            <div class="input-group-text">
                                <i alt="show" class="far fa-eye eye-show"
                                    (click)="showConfirmPassword = !showConfirmPassword"
                                    *ngIf="showConfirmPassword"></i>
                                <i alt="hide" class="far fa-eye-slash eye-hide"
                                    (click)="showConfirmPassword = !showConfirmPassword"
                                    *ngIf="!showConfirmPassword"></i>
                            </div>
                            <small class="text-danger" customError
                                *ngIf="setPasswordformGroup?.controls['confirmPassword']?.hasError('NoPasswordMatch')">
                                Password does not match
                            </small>
                        </app-text-input>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="formGroup mb-lg-4">
                        <!-- <button *ngIf="displayBackBtn" class="btn btn-secondary btn-round width-155 me-2"
                            (click)="onBack()">Back</button> -->
                        <button *ngIf="displayBackBtn" class="btn btn-primary btn-round width-155"
                            [disabled]="!setPasswordformGroup.valid" (click)="onSavePassword()">
                            Change
                            Password</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="verticale-line mt-4 d-none d-md-block"></div>
        </div>
        <div class="col-md-5 col-sm-12 d-md-block">
            <div *ngIf="passwordRules" class="form-group">
                <div *ngFor="let rule of passwordRules;let i=index">
                    <div class="d-flex flex-row-reverse mb-2">
                        <label class="col checkbox-wrapper">
                            <span class="sub-content">{{rule?.DisplayText}}  </span>
                            <input type="checkbox" [disabled]="true" [checked]="setPasswordformGroup.controls['password']?.hasError(rule.Pattern) || setPasswordformGroup.get('password').value==='' ? '' : 'checked'">
                            <span class="checkmark"></span>
                          </label>
                        <!-- <label class="col checkbox-wrapper mb-4">
                            {{rule.displayText}}  
                        </label>
                        
                        <input type="checkbox" class="mb-4"
                            [checked]="setPasswordformGroup.controls['password']?.hasError(rule.pattern) || setPasswordformGroup.get('password').value==='' ? '' : 'checked'"> -->
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="passwordMinLength" class="d-flex flex-row-reverse">
                <label class="col checkbox-wrapper">
                    <span class="sub-content"> Minimum {{passwordMinLength}} required</span>
                    <input type="checkbox" [disabled]="true" [checked]="setPasswordformGroup.controls['password']?.hasError('minlength') || setPasswordformGroup.get('password').value===''? '' : 'checked'">
                    <span class="checkmark"></span>
                  </label> -->
                <!-- <label class="col checkbox-wrapper mb-4">
                   
                </label>
                <input type="checkbox" class="mb-4"
                    [checked]="setPasswordformGroup.controls['password']?.hasError('minlength') || setPasswordformGroup.get('password').value===''? '' : 'checked'"> -->
            <!-- </div> -->
        </div>
        <div *ngIf="!displayBackBtn" class="move-btn-right">
            <button class="btn btn-primary btn-round"
                [disabled]="!setPasswordformGroup.valid" (click)="onSavePassword()">
                Change
                Password</button>
        </div>
    </div>
</form>