.verticale-line {
    width: 0px;
    min-height: 350px;
    margin: 25px auto;
    border: 1px dashed #ddd;
}

.change-password-container {
    input[type="checkbox"] {
        height: 22px;
        width: 22px;
        pointer-events: none;
    }
    .move-btn-right {
        .btn {
            float: right;
            min-width: 15%;
          //  width: 15%;
        }
    }
}
